/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL LEFT > LABELS

\*  --------------------------------------------------------------------------  */
label {
    display: block;
    order: 0;
    margin: 0;
    width: #{$formLLLabelW};
    text-align: right;
}