/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL LEFT > VARIABLES

\*  --------------------------------------------------------------------------  */
$formLLLabelW: 12.5rem;
$formLLGutter: #{$gutterSm * .5};
$formLLBorder: border;
$formLLBorderStyle: 1px solid $primary;
$formLLBorderFocus: $tertiary;