/*  --------------------------------------------------------------------------  *\

    MEDIA OBJECTS

    All of our media elements should be wrapped in a <figure> tag to help provide 
    context to the element.

\*  --------------------------------------------------------------------------  */
video, img, picture {
    // Set the base styles for the media element here
    display: block;
    width: 100%;
    height: auto;
}
figure {
    // Set the base styles for majority figure tags here
    margin: 0 0 #{$gutterSm};
    
    @media #{$mediaMd} {
        margin: 0 0 #{$gutter};
    }
    
    > figcaption {
        // Set the base styles for majority figcaption tags here
        padding: #{$gutterSm};
        background: $tertiary-light;
        
        @media #{$mediaMd} {
            padding: #{$gutter};
        }
        
        :last-child {
            // Set the last child to have a margin bottom of 0 to follow the 
            // padding set in the figcaption properly
            margin-bottom: 0;
        }
    }
}
/*  ----------------------------------------------------------------------  *\

    SIZING OPTIONS

\*  ----------------------------------------------------------------------  */    
@import 'sizing/_columns';
/*  --------------------------------------------------------------------------  *\

    MEDIA GALLERY

\*  --------------------------------------------------------------------------  */
@import '_gallery';
/*  --------------------------------------------------------------------------  *\

    HOT SPOTS

\*  --------------------------------------------------------------------------  */
@import '_hot-spots';