/*  --------------------------------------------------------------------------  *\

    GRID

\*  --------------------------------------------------------------------------  */
[class*="col-"] {
    padding: 0 #{$gutterSm};
    margin: 0;
    flex: 0 0 auto;
    order: 1;
    
    @media #{$mediaMd} {
        padding: 0 #{$gutter};
    }
}
.row {
    @include flex(space-between, stretch, null, row wrap);
    width: calc(100% + #{$gutterSm * 2});
    margin: 0 #{$gutterSm * -1};
    
    @media #{$mediaMd} {
        width: calc(100% + #{$gutter * 2});
        margin: 0 #{$gutter * -1};
    }
    
    + .row {
        margin-top: #{$gutterSm};
        
        @media #{$mediaMd} {
            margin-top: #{$gutter};
        }
    }
    
    &.va-center {
        align-items: center;
    }
    
    &.va-top {
        align-items: flex-start;
    }
    
    &.va-bottom {
        align-items: flex-end;
    }
    
    &.ha-center {
        justify-content: center;
    }
    
    &.va-left {
        justify-content: flex-start;
    }
    
    &.va-right {
        justify-content: flex-end;
    }
}

@media #{$mediaXs} {
    .col-xs-12 {
        + .col-xs-12 {
            margin-top: #{$gutter}rem;
        }
    }
}
    
img.float-left, img.float-right {
    width: 100%;
    height: auto;
    margin: 0 0 #{$gutter}rem;
}

@media #{$mediaSm} {
    .sm-pull-left {
        order: 0;
    }
    
    .offset-top {
        margin-top: #{$gutter * -8}rem;
    }
}

@media #{$mediaMd} {
    
    img.float-left {
        float: left;
        width: 41.667%;
        padding: 0;
        margin: 0 #{$gutter}rem #{$gutter}rem 0;
    }
    
    img.float-right {
        float: right;
        width: 41.667%;
        padding: 0;
        margin: 0 0 #{$gutter}rem #{$gutter}rem;
    }
}

@media #{$mediaLg} {
    
    img.float-left, img.float-right {
        width: 33.333%;
    }
}
@include generateCols();

.ex-g {
    [class*="col-"] {
        background: rgba($primary, .25);
        @include position(relative, null);
        height: 10vh;
        
        &:before {
            @include position(absolute, null, (left, top), (0, 0));
            width: calc(100% - #{$gutterSm * 2});
            height: 100%;
            border-left: #{$gutterSm} solid rgba($primary, .5);
            border-right: #{$gutterSm} solid rgba($primary, .5);
            content: "";
        }
    
        @media #{$mediaMd} {
            &:before {
                width: calc(100% - #{$gutter * 2});
                border-left-width: #{$gutter};
                border-right-width: #{$gutter};
            }
        }
    }
}