/*  --------------------------------------------------------------------------  *\

    TABS - MOBILE (SAME FOR BOTH VERTICAL AND HORIZONTAL LAYOUTS)

\*  --------------------------------------------------------------------------  */
.tabs {
    margin: 0 0 #{$gutter};
    
    > dt {

        > button {
            @include position(relative);
            width: 100%;
            padding: #{$gutterSm} #{$gutter} #{$gutterSm} 0;
            border-bottom: .1rem solid currentColor;
            background: none;
            color: $tertiary;
            text-align: left;
            font-size: 1.8rem;
            line-height: 1;

            @include hover {
                color: $secondary;
            }

            &[aria-expanded="true"] {
                color: $primary;
            }
            
            @media #{$mediaMd} {
                &:before, &:after {
                    display: none;
                }
            }
        }
    }

    > dd {
        display: block;
        width: 100%;
        padding: #{$gutter} 0;
        
        :last-child {
            margin-bottom: 0;
        }
    }
    /*  ----------------------------------------------------------------------  *\
    
    Indicator Options
    
    Re-use the accordion styling for this piece.
    
    \*  ---------------------------------------------------------------------  */
    @import 'accordions/indicators/_plus-minus';
    @import 'accordions/indicators/_chevron';
    @import 'accordions/indicators/_triangle';
}