/*  --------------------------------------------------------------------------  *\

    MEDIA HOVER EFFECT - ZOOM

\*  --------------------------------------------------------------------------  */
&.zoom {
    
    @media #{$mediaMd} {
        
        > img, > picture > img, > video {
            @include transition(transform .25s);
        }

        figcaption {
            left: 0;
            top: 100%;
            @include transform(translate(0, -100%));
            width: 100%;
            border-left: none;
            border-right: none;
            border-bottom: none;
        }

        @include hover {

            > img, > picture > img, > video {
                @include transform(scale(1.4));
            }
        }
    }
}