/*  --------------------------------------------------------------------------  *\

    CARD - LAYOUT - WITH IMAGE ON SIDE

\*  --------------------------------------------------------------------------  */
&.img-side {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    
    @media #{$mediaMd} {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        @include flex(space-between, center, center, row nowrap);
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        > a {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            @include flexItem(0, 0, auto, 0);
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            width: 50%;
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }

        > div {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            @include flexItem(0, 0, auto, 0);
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            width: 50%;
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }

        &.alt, &:nth-child(even) {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

            > a {
                // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
                order: 1;
                // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
                // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
                // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
                // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
                // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
            }
        }
        
        @import "_full-screen";
    }
}