/*  --------------------------------------------------------------------------  *\

    FACTS - SMALL

\*  --------------------------------------------------------------------------  */
& {
    padding: #{$gutterSm};
}

h3 {
    font-size: 1em;
}

strong {
    font-size: 3em;
}