/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL LEFT > INPUTS

\*  --------------------------------------------------------------------------  */
input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
    order: 1;
    width: calc(100% - 12.5rem - #{$gutter * .5});
    padding: #{$gutterSm * .5};
    border: .1rem solid $secondary;
    
    &:focus {
        border-color: $tertiary;
    }
}