/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL LEFT > LABELS

\*  --------------------------------------------------------------------------  */
label {
    display: block;
    order: 0;
    margin: 0 #{$gutterSm * .5} 0 0;
    width: 12.5rem;
    text-align: right;
}