/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL ABOVE > SELECTS

\*  --------------------------------------------------------------------------  */
select {
    display: block;
    order: 1;
    width: 100%;
    padding: #{$gutterSm * .5};
    border: .1rem solid $secondary;
    
    &:focus {
        border-color: $tertiary;
    }
}