/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL ABOVE > TEXTAREAS

\*  --------------------------------------------------------------------------  */
textarea {
    display: block;
    order: 1;
    width: 100%;
    height: calc(6em + #{$gutterSm + $gutterSm * .5});
    padding: #{$gutterSm * .5};
    border: .1rem solid $secondary;
    
    &:focus {
        border-color: $tertiary;
    }
}