/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL ABOVE > VARIABLES

\*  --------------------------------------------------------------------------  */
$formLAGutter: #{$gutterSm * .5};
$formLABorder: border;
$formLABorderStyle: 1px solid $primary;
$formLABorderFocus: $tertiary;