<ul>
    <li><a href="#" class="bread">Tier-2-item 1</a>
        <ul>
            <li><a href="#" class="bread">Tier-3-item 1</a>
                <ul>
                    <li><a href="#" class="active">Tier-4-item 1</a></li>
                    <li><a href="#">Tier-4-item 2</a></li>
                    <li><a href="#">Tier-4-item 3</a></li>
                    <li><a href="#">Tier-4-item 4</a></li>
                    <li><a href="#">Tier-4-item 5</a></li>
                    <li><a href="#">Tier-4-item 6</a></li>
                </ul>
            </li>
            <li><a href="#">Tier-3-item 2</a></li>
            <li><a href="#">Tier-3-item 3</a></li>
            <li><a href="#">Tier-3-item 4</a></li>
            <li><a href="#">Tier-3-item 5</a></li>
            <li><a href="#">Tier-3-item 6</a></li>
        </ul>
    </li>
    <li><a href="#">Tier-2-item 2</a></li>
    <li><a href="#">Tier-2-item 3</a></li>
    <li><a href="#">Tier-2-item 4</a></li>
    <li><a href="#">Tier-2-item 5</a></li>
    <li><a href="#">Tier-2-item 6</a></li>
</ul>