<nav class="social">
    <ul>
        <li>
            <a href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]">
                <span class="fab fa-facebook-f"></span>
                <span class="sr-only">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]">
                <span class="fab fa-twitter"></span>
                <span class="sr-only">Tweet on Twitter</span>
            </a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=[URL]&title=[TITLE]&source=[SOURCE/DOMAIN]">
                <span class="fab fa-linkedin"></span>
                <span class="sr-only">Share on LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="http://pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url=[URL]&is_video=false&description=[TITLE]">
                <span class="fab fa-pinterest"></span>
                <span class="sr-only">Pin on Pinterest</span>
            </a>
        </li>
        <li>
            <a href="javascript: window.print();">
                <span class="fas fa-print"></span>
                <span class="sr-only">Print</span>
            </a>
        </li>
        <li>
            <a href="mailto:?subject=[SUBJECT LINE]">
                <span class="fas fa-envelope"></span>
                <span class="sr-only">Email</span>
            </a>
        </li>
    </ul>
</nav>