/*  --------------------------------------------------------------------------  *\

    CASE STUDY - GALLERY

\*  --------------------------------------------------------------------------  */
.cs-gallery {
    
    .card {
        > div {
            padding: 0;
        }
    }
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}