{% assign leaderI = 1 %}
<div class="{{ include.class }}" role="feed">
    {% for leader in site.leadership %}
        <article tabindex="0" aria-labelledby="title{{ leaderI }}" aria-describedby="desc{{ leaderI }}" aria-posinset="{{ leaderI }}" aria-setsize="25">
            <a href="{{ leader.url }}"><img src="https://via.placeholder.com/400x400/ccc/e1e1e1?text=1:1" alt="Lorem Pixel generated black and white photo"></a>
            <div>
                <h3 id="title{{ leaderI }}"><a href="{{ leader.url }}">{{ leader.name }}</a></h3>
                <p class="by" id="desc{{ leaderI }}">{{ leader.position }}</p>
            </div>
        </article>
        {% assign leaderI = leaderI | plus: 1 %}
    {% endfor %}    
</div>
{% include components/navigation/pagination.html %}