/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL ATTACHED > VARIABLES

\*  --------------------------------------------------------------------------  */
$formLAtLabelW: 12.5rem;
$formLAtGutter: #{$gutterSm * .5};
$formLAtLabelBg: $primary-light;
$formLAtLabelBgFocus: $white;
$formLAtBorder: border;
$formLAtBorderStyle: 1px solid $primary;
$formLAtBorderFocus: $tertiary;