/*  --------------------------------------------------------------------------  *\

    TOGGLE - NAVIGATION - BOTTOM LEFT

\*  --------------------------------------------------------------------------  */
&.nav-br {
    > nav {
        left: calc(100% - #{$gutter});
        top: 100%;
        @include transform(translate(-100%, -50%));
        
        ul {
            top: 0;
            @include transform(translate(-50%, -100%));
        }
    }
}