/*  --------------------------------------------------------------------------  *\

    TOGGLE - NAVIGATION - BOTTOM LEFT

\*  --------------------------------------------------------------------------  */
&.nav-bl {
    > nav {
        left: #{$gutter};
        top: 100%;
        @include transform(translate(0%, -50%));
        
        ul {
            top: 0;
            @include transform(translate(-50%, -100%));
        }
    }
}