/*  --------------------------------------------------------------------------  *\

    COPY - LISTS - UNORDERED

\*  --------------------------------------------------------------------------  */
ul {
    list-style: circle;
    
    ul {
        list-style: disc;
        
        ul {
            list-style: square;
        }
    }
}