/*  --------------------------------------------------------------------------  *\

    DIALOG - SIZING - FULL SCREEN

\*  --------------------------------------------------------------------------  */
.dialog.fs {
    width: 100vw;
    max-width: none;
    height: 100vh;
    padding: #{$gutterLg};
}