/*  --------------------------------------------------------------------------  *\

    CARDS

    These elements are used to display content, most likely in a sidebar, column 
    in the body of the page, or as a slide in a carousel.

    They can include images, icons, buttons, and text.

\*  --------------------------------------------------------------------------  */
.card {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    border: .2rem solid $tertiary;
    background: $white;
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    
    > div {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        padding: #{$gutterSm};
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
    
    
    /*---------------------*\
      IMPORT STYLES FOR CARD CONTENT STYLING
    
      Comment out any alterations that will not be used on your site.
      This will reduce the file size by removing unused definitions.
    \*---------------------*/
    @import 'cards/size/_sm';
    @import 'cards/size/_lg';
    /*---------------------*\
      IMPORT STYLES FOR CARD ICON OPTIONS
    
      Comment out any alterations that will not be used on your site.
      This will reduce the file size by removing unused definitions.
    \*---------------------*/
    @import 'cards/icons/_top';
    @import 'cards/icons/_left';
    /*---------------------*\
      IMPORT STYLES FOR CARD CONTENT STYLING
    
      Comment out any alterations that will not be used on your site.
      This will reduce the file size by removing unused definitions.
    \*---------------------*/
    @import 'cards/copy/_copy';
    @import 'cards/copy/_article';
}