/*  --------------------------------------------------------------------------  *\

    Buttons

    These are used throughout the website to create a call to action for another element like
    submitting a form, linking to another page, or linking to another element on the same page.
    GENERIC BUTTON STYLES
    This sets up the base of all our styles, it's also the btn-default styles

\*  --------------------------------------------------------------------------  */
[class*="btn-"] {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    display: inline-block;
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    padding: #{$gutterSm / 2} #{$gutterSm};
    margin: #{$gutterSm} 0 0;
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    border: .2rem solid $primary;
    background: $accent-1;
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    color: $primary;
    font-family: $headingFF;
    font-weight: 800;
    @include fontSize(1.4, 1.25);
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    letter-spacing: 1pt;
    text-decoration: none;
    text-transform: uppercase;
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    transition: all .25s;
    
    // WHEN DEFINING HOVER, BE SURE TO ADD , &:focus TO STYLE THE FOCUS STATE OF THE ELEMENT     
    // AS WELL.  THIS IS EXTREMELY IMPORTANT TO MEET WCAG 2.1 LEVEL AA COMPLIANCE
    @include hover {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        border-color: currentColor;
        background: $primary;
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        color: $accent-1;
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
    
    /*  ----------------------------------------------------------------------  *\

        Button Arrow Options

    \*  ----------------------------------------------------------------------  */
    @import 'buttons/icon/_icon-top';
    @import 'buttons/icon/_icon-bottom';
    @import 'buttons/icon/_icon-left';
    @import 'buttons/icon/_icon-right';
}
/*  --------------------------------------------------------------------------  *\

    Button Color Options

\*  --------------------------------------------------------------------------  */
@import 'buttons/colors/_primary';
@import 'buttons/colors/_secondary';
@import 'buttons/colors/_tertiary';
@import 'buttons/colors/_text';
@import 'buttons/colors/_success';
@import 'buttons/colors/_danger';
@import 'buttons/colors/_warning';
/*  --------------------------------------------------------------------------  *\

    Buttons Animation Options

\*  --------------------------------------------------------------------------  */
@import 'buttons/animations/_base';
@import 'buttons/animations/_fill';
@import 'buttons/animations/_press';
@import 'buttons/animations/_effects/_effect-1';
@import 'buttons/animations/_effects/_effect-2';
@import 'buttons/animations/_effects/_effect-3';
@import 'buttons/animations/_effects/_effect-4';
@import 'buttons/animations/_effects/_effect-5';