/*  --------------------------------------------------------------------------  *\

    HEROES

    Heroes are used to build the first component on each page.  This component is 
    the header for the main element of the mark-up.  So we will style the hero 
    using a <header> in the <main id="content"> tag.

\*  --------------------------------------------------------------------------  */
main > header {
    padding: #{$gutterLg} 0;
    background: $primary;
    color: $white;
    
    > div {
        max-width: $siteWMx;
        margin: 0 auto;
        padding: 0 #{$gutter};
        
        @each $q in $siteWQueryList {
            $i: index($siteWQueryList, $q);
                
            @if $i == 1 {
                width: nth($siteWList, $i);
            } @else {
                @media #{$q} {
                    width: nth($siteWList, $i);
                }
            }
        }
        
        :last-child {
            margin-bottom: 0;
        }
    }
    
    @import 'heroes/sizes';
    @import 'heroes/media';
}