/*  --------------------------------------------------------------------------  *\

    TABS - ALIGNMNET - RIGHT

\*  --------------------------------------------------------------------------  */
&.t-right {
    
    @media #{$mediaMd} {
        grid-template-columns: 75% 25%;
    }

    > dd {
        
        @media #{$mediaMd} {
            grid-column: 1;
            grid-row: 1 / 50;
        }
    }
}