<figure class="hot-spot">
    <img src="https://via.placeholder.com/1600x900/333/222?text=16:9" alt="Placeholder image">
    <figcaption>
        <input type="checkbox" id="hotspot1">
        <label for="hotspot1">+</label>
        <div>
            <h3>iPhone</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fuga consequuntur debitis pariatur commodi impedit doloribus quam natus amet odit, inventore provident. Reiciendis, inventore, eius.</p>
        </div>
    </figcaption>
    <figcaption>
        <input type="checkbox" id="hotspot2">
        <label for="hotspot2">+</label>
        <div>
            <h3>MacBook Air</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fuga consequuntur debitis pariatur commodi impedit doloribus quam natus amet odit, inventore provident. Reiciendis, inventore, eius.</p>
        </div>
    </figcaption>
    <figcaption>
        <input type="checkbox" id="hotspot3">
        <label for="hotspot3">+</label>
        <div>
            <h3>Coffee Cup</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fuga consequuntur debitis pariatur commodi impedit doloribus quam natus amet odit, inventore provident. Reiciendis, inventore, eius.</p>
        </div>
    </figcaption>
</figure>