<figure {% if include.class %}class="{{ include.class }}"{% endif %}>
    <picture>
        <source srcset="https://via.placeholder.com/600x337/333/222?text=16:9+XS" media="(max-width: 599px)">
        <source srcset="https://via.placeholder.com/1200x675/333/222?text=16:9+MD" media="(max-width: 768px)">
        <source srcset="https://via.placeholder.com/1600x900/333/222?text=16:9+LG" media="(min-width: 769px)">
        <img src="https://via.placeholder.com/1600x900/333/222?text=16:9+MD" alt="Placeholder image">
    </picture>
    <figcaption>
        {% if include.title %}
            <h3>{{ include.title }}</h3>
        {% endif %}
        {% if include.copy %}
            <p>{{ include.copy }}</p>
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, libero cumque sunt dolor, eos beatae.</p>
        {% endif %}
    </figcaption>
</figure>