<figure {% if include.class %}class="{{ include.class }}"{% endif %}>
    <video width="320" height="240" poster="https://via.placeholder.com/1600x900/333/222/?text=VIDEO" controls="true">
        <img src="https://via.placeholder.com/1600x900/333/222/?text=VIDEO" alt="Video Placeholder">
    </video>
    <figcaption>
        {% if include.title %}
            <h3>{{ include.title }}</h3>
        {% endif %}
        {% if include.copy %}
            <p>{{ include.copy }}</p>
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, libero cumque sunt dolor, eos beatae.</p>
        {% endif %}
    </figcaption>
</figure>