/*  --------------------------------------------------------------------------  *\

    SECTIONS

\*  --------------------------------------------------------------------------  */
section {
    padding: #{$gutter} 0;
    
    &.sm {
        padding: #{$gutterSm} 0;
    }
    
    &.lg {
        padding: #{$gutterLg} 0;
    }
}