/*  --------------------------------------------------------------------------  *\

    HEADER - LAYOUT - HORIZONTAL - HAS UTILITY NAV

\*  --------------------------------------------------------------------------  */
nav {
    align-self: stretch;
    @include flex(flex-start, center, null, column nowrap);

    @media #{$mediaFullHeader} {
        justify-content: space-between;
        align-items: flex-end;

        .main-nav {
            order: 1;
        }

        .utility-nav {
            order: 0;
        }
    }
}