<nav class="sitemap">
    <ul>
        {% for item in site.data.navigation.main %}
        <li>
            <a href="{{item.link}}">{{item.name}}</a>
            {% if item.children %}
            <ul>
                {% for child in item.children %}
                <li>
                    <a href="{{ child.link }}">
                        {{ child.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>