{% assign imgText = "IMAGE" %}
{% assign tag="h3" %}
{% if include.imgText %}
    {% assign imgText = include.imgText %}
{% endif %}
{% if include.tag %}
    {% assign tag = include.tag %}
{% endif %}
<div class="card {% if include.class %}{{ include.class }}{% endif %}">
    {% if include.imgRatio %}
    <a href="{{ page.url }}">
        <img src="https://via.placeholder.com/{{ include.imgRatio }}/333/222?text={{ imgText }}" alt="Image">
    </a>
    {% endif %}
    <div>
        {% if include.icon %}
            <span class="{{ include.icon }}"></span>
        {% endif %}
        {% if include.title %}
            <{{ tag }}>{{ include.title }}</{{ tag }}>
        {% endif %}
        {% if include.copy %}
            {{ include.copy }}
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, molestias minus, modi quam cumque temporibus?</p>
        {% endif %}
        {% if include.btnUrl or include.btnText %}
            {% include components/basic/button.html %}
        {% endif %}
    </div>
</div>