<div class="fact {{include.class}}">
    <div>
        <h3>
            {{include.factTextAbove}} 
            <strong {% if include.factStart %} data-start="{{ include.factStart }}"{% endif %}
                    {% if include.factStart and include.factEnd %} data-end="{{ include.factEnd }}"{% endif %}
                    {% if include.factStart and include.factBefore %} data-before="{{ include.factBefore }}"{% endif %}
                    {% if include.factStart and include.factAfter %} data-after="{{ include.factAfter }}"{% endif %}
                    {% if include.factStart and include.factIncrement %} data-increment="{{ include.factIncrement }}"{% endif %}
                    {% if include.factStart and include.factInterval %} data-interval="{{ include.factInterval }}"{% endif %}>
                {{ include.factBefore }}{{ include.factEnd }}{{ include.factAfter }}
            </strong> 
            {{include.factTextBelow}}
        </h3>
    </div>
    {% if include.factIcon %}
        <span class="{{ include.factIcon }}"></span>
    {% endif %}
</div>