<blockquote {% if include.class %}class="{{ include.class }}"{% endif %}>
    <div class="quote">
        {% if include.quote %}
            <p>{{ include.quote }}</p>
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nobis itaque, non optio quod ad delectus soluta, quo vitae, labore reiciendis recusandae beatae ea quisquam.</p>
        {% endif %}
    </div>
    <div class="attr">
        {% if include.imgRatio %}
            <img src="https://via.placeholder.com/{{ include.imgRatio }}/ccc/e1e1e1?text=1:1" alt="Placeholder image">
        {% else %}
            <img src="https://via.placeholder.com/150/ccc/e1e1e1?text=1:1" alt="Placeholder image">
        {% endif %}
        <p>
            {% if include.attr %}
                {{ include.attr }}
            {% else %}
                John Doe
            {% endif %}
            {% if include.attr %}
                <small>{{ include.attrTitle }}</small>
            {% else %}
                <small>VP of Lorem Ipsum, Sit Amet</small>
            {% endif %}
        </p>
    </div>
</blockquote>