{% assign showUtilityBar = false %}
{% if include.utilityNavLoc == "utility bar" %}
    {% assign showUtilityBar = true %}
{% endif %}
<nav>
    <ul class="main-nav">
        {% for item in site.data.navigation.main %}
        <li {% if page.url contains item.link %}class="active"{% endif %}>
            <a href="{{ item.link }}">
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
        {% if include.searchLocation == "main nav" %}
            <li>
                {% include structure/header/search/search.html %}
            </li>
        {% endif %}
    </ul>
    {% if include.utilityNavLoc == "main nav" %}
        {% include structure/header/navs/utility.html %}
    {% endif %}
    {% if showUtilityBar %}
        {% include structure/header/utility-bar.html %}
    {% endif %}
</nav>