{% assign showUtilityBar = false %}
{% if include.utilityNavLoc == "utility bar" %}
    {% assign showUtilityBar = true %}
{% endif %}
<nav>
    <ul class="main-nav">
        <li>
            <a href="#">Structural</a>
            <input type="checkbox" id="mmStructural">
            <label for="mmStructural"><span class="toggle-text">Show </span>Structural<span class="toggle-text"> Subpages</span> <span class="fas fa-chevron-right"></span></label>
            <div>
                <div>
                    <div class="row">
                        <ul class="col-xs-12 col-sm-4">
                            <li><label for="mmStructural" tabindex="0"><span class="fas fa-chevron-left"></span> Back to Main Nav</label></li>
                            <li><a href="#">Structural</a></li>
                            <li><a href="#">Header</a></li>
                            <li><a href="#">Footer</a></li>
                            <li><a href="#">Section</a></li>
                            <li><a href="#">Grid</a></li>
                            <li><a href="#">Section Backgrounds</a></li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card vert">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/ccc/e1e1e1?text=2:1" alt="Placeholder Picture">
                                </a>
                                <div>
                                    <h3>Card Title</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, molestias minus, modi quam cumque temporibus?</p>
                                    <a href="#" class="btn-primary" aria-label="learn more about card 4">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card vert">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/ccc/e1e1e1?text=2:1" alt="Placeholder Picture">
                                </a>
                                <div>
                                    <h3>Card Title</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, molestias minus, modi quam cumque temporibus?</p>
                                    <a href="#" class="btn-primary" aria-label="learn more about card 4">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Navigation</a>
            <input type="checkbox" id="mmNavigation">
            <label for="mmNavigation"><span class="toggle-text">Show </span>Navigation<span class="toggle-text"> Subpages</span> <span class="fas fa-chevron-right"></span></label>
            <div>
                <div>
                    <div class="row">
                        <ul class="col-xs-12 col-sm-4">
                            <li><label for="mmNavigation" tabindex="0"><span class="fas fa-chevron-left"></span> Back to Main Nav</label></li>
                            <li><a href="#">Navigation</a></li>
                            <li><a href="#">Main Navs</a></li>
                            <li><a href="#">Child Page/Landing Navs</a></li>
                            <li><a href="#">Interior Navs</a></li>
                            <li><a href="#">Breadcrumbs</a></li>
                            <li><a href="#">Jump Navs</a></li>
                        </ul>
                        <div class="col-xs-12 col-sm-4">
                            <div class="fact">
                                <div>
                                    <h3>Lorem ipsum dolor <strong>$50.00</strong> consectetur adipisicing elit.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="fact">
                                <div>
                                    <h3>Lorem ipsum dolor <strong>$50.00</strong> consectetur adipisicing elit.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Basic Content</a>
            <input type="checkbox" id="mmBasic">
            <label for="mmBasic"><span class="toggle-text">Show </span>Basic Content<span class="toggle-text"> Subpages</span> <span class="fas fa-chevron-right"></span></label>
            <div>
                <div>
                    <ul class="multi-col-3">
                        <li><label for="mmBasic" tabindex="0"><span class="fas fa-chevron-left"></span> Back to Main Nav</label></li>
                        <li><a href="#">Basic Content</a></li>
                        <li><a href="#">Copy</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Heroes</a></li>
                        <li><a href="#">Cards</a></li>
                        <li><a href="#">Facts</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Interactive</a>
            <input type="checkbox" id="mmInteractive">
            <label for="mmInteractive"><span class="toggle-text">Show </span>Interactive<span class="toggle-text"> Subpages</span> <span class="fas fa-chevron-right"></span></label>
            <div>
                <div>
                    <ul class="multi-col-4">
                        <li><label for="mmInteractive" tabindex="0"><span class="fas fa-chevron-left"></span> Back to Main Nav</label></li>
                        <li><a href="#">Interactive</a></li>
                        <li><a href="#">Tabs</a></li>
                        <li><a href="#">Accordions</a></li>
                        <li><a href="#">Carousels</a></li>
                        <li><a href="#">Dialog</a></li>
                        <li><a href="#">Hot Spots</a></li>
                        <li><a href="#">Animation Library</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Feeds and Detail</a>
            <input type="checkbox" id="mmFeed">
            <label for="mmFeed"><span class="toggle-text">Show </span>Feeds and Detail<span class="toggle-text"> Subpages</span> <span class="fas fa-chevron-right"></span></label>
            <div>
                <div>
                    <div class="row">
                        <ul class="col-xs-12 col-sm-6 multi-col-2">
                            <li><label for="mmFeed" tabindex="0"><span class="fas fa-chevron-left"></span> Back to Main Nav</label></li>
                            <li><a href="#">Feeds and Detail</a></li>
                            <li><a href="#">Basic Feed</a></li>
                            <li><a href="#">Profile Feed</a></li>
                            <li><a href="#">Tiles Feed</a></li>
                            <li><a href="#">Faceted Feed</a></li>
                            <li><a href="#">Detail</a></li>
                            <li><a href="#">Featured &amp; Latest Feed</a></li>
                            <li><a href="#">Featured Item</a></li>
                        </ul>
                        <div class="col-xs-12 col-sm-6">
                            <article tabindex="0" aria-labelledby="title1" class="feat-item">
                                <a href="#"><img src="https://via.placeholder.com/800x800/ccc/e1e1e1?text=1:1" alt="Placeholder image"></a>
                                <div>
                                    <p class="type">Type</p>
                                    <h2 id="title1"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
                                    <p class="by">By John Doe on January 1, 2019</p>
                                    <p class="tags">
                                        <strong>Tags:</strong>
                                        <a href="#"> Tag 1</a>
                                        <a href="#"> Tag 2</a>
                                        <a href="#"> Tag 3</a>
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Forms</a>
            <input type="checkbox" id="mmForms">
            <label for="mmForms"><span class="toggle-text">Show </span>Forms<span class="toggle-text"> Subpages</span> <span class="fas fa-chevron-right"></span></label>
            <div>
                <div>
                    <div class="row">
                        <ul class="col-xs-12 col-sm-8 multi-col-2">
                            <li><label for="mmForms" tabindex="0"><span class="fas fa-chevron-left"></span> Back to Main Nav</label></li>
                            <li><a href="#">Forms</a></li>
                            <li><a href="#">Label Above</a></li>
                            <li><a href="#">Label Left</a></li>
                            <li><a href="#">Label Attached</a></li>
                            <li><a href="#">Stacked</a></li>
                        </ul>
                        <div class="col-sm-4">
                            <form class="l-above">
                                <div class="row no-mb sign-up">
                                    <div class="form-el col-xs-12">
                                        <label for="firstNameAs">First Name <span class="req">*</span></label>
                                        <input placeholder=" " id="firstNameAs" type="text" required="">
                                    </div>
                                    <div class="form-el col-xs-12">
                                        <label for="lastNameAs">Last Name <span class="req">*</span></label>
                                        <input placeholder=" " id="lastNameAs" type="text" required="">
                                    </div>
                                    <div class="form-el col-xs-12">
                                        <label for="emailAs">Email <span class="req">*</span></label>
                                        <input placeholder=" " id="emailAs" type="email" required="">
                                    </div>
                                    <div class="form-btn col-xs-12">
                                        <button type="submit" class="btn-primary">Sign Up</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% if include.searchLocation == "main nav" %}
            <li>
                {% include structure/header/search/search.html %}
            </li>
        {% endif %}
    </ul>
    {% if include.utilityNavLoc == "main nav" %}
        {% include structure/header/navs/utility.html %}
    {% endif %}
    {% if showUtilityBar %}
        {% include structure/header/utility-bar.html %}
    {% endif %}
</nav>