/*  --------------------------------------------------------------------------  *\

    BANNERS - COLORS - WARNING

\*  --------------------------------------------------------------------------  */
&.bg-warning {
    border-color: $warning;
    background: rgba($warning, .125);
    color: $primary;
}