{% assign headerID = 'header' %}
{% if include.id != null %}
    {% assign headerID = include.id %}
{% endif %}
{% assign layout = 'hori' %}
{% if include.layout == 'vertical' %}
    {% assign layout= 'vert' %}
{% endif %}
{% assign logo = 'logo-t' %}
{% if include.logo %}
    {% assign logo = include.logo %}
    {% case logo  %}
        {% when 'svg' %}
            {% assign logo= 'logo-s' %}
        {% when 'svg tagline' %}
            {% assign logo= 'logo-st' %}
        {% when 'img' %}
            {% assign logo= 'logo-i' %}
        {% when 'img tagline' %}
            {% assign logo= 'logo-it' %}
    {% endcase %}
{% endif %}
{% assign nav = 'root only' %}
{% if include.nav %}
    {% assign nav = include.nav %}
    {% case nav  %}
        {% when 'mega menu' %}
            {% assign nav= 'nav-mm' %}
        {% when 'dropdown' %}
            {% assign nav= 'nav-dd' %}
        {% when 'root only' %}
            {% assign nav= 'nav-ro' %}
    {% endcase %}
{% endif %}
{% assign pos = 'fixed top' %}
{% if include.position %}
    {% assign pos = include.position %}
    {% case pos  %}
        {% when 'fixed top' %}
            {% assign pos= 'pos-ft' %}
        {% when 'fixed left' %}
            {% assign pos= 'pos-fl' %}
        {% when 'absolute top' %}
            {% assign pos= 'pos-at' %}
        {% when 'sticky top' %}
            {% assign pos = 'pos-st' %}
        {% when 'relative' %}
            {% assign pos = 'pos-rel' %}
    {% endcase %}
{% endif %}
{% assign utilityClass = '' %}
{% case include.utilityNavLoc %}
    {% when 'utility bar' %}
        {% assign utilityClass = 'has-util-bar' %}
    {% when 'main nav' %}
        {% assign utilityClass = 'has-util-nav' %}
{% endcase %}
<a href="#content" class="skip-content">Skip to Content</a>
<header class="{{ include.class }} {{ layout }} {{ pos }} {{ logo }} {{ nav }} {{ utilityClass }}">
    <div>
        {% case logo %}
            {% when 'logo-s' %}
                {% include structure/header/logos/logo-s.html %}
            {% when 'logo-st' %}
                {% include structure/header/logos/logo-st.html %}
            {% when 'logo-i' %}
                {% include structure/header/logos/logo-i.html %}
            {% when 'logo-it' %}
                {% include structure/header/logos/logo-it.html %}
            {% else %}
                {% include structure/header/logos/logo-t.html %}
        {% endcase %}
        <input type="checkbox" class="toggle" id="{{ headerID }}ToggleNav" />
        <label class="toggle-trigger" for="{{ headerID }}ToggleNav">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="sr-only">Menu</span>
        </label>
        {% case nav %}
            {% when 'nav-mm' %}
                {% include structure/header/navs/main-mm.html %}
            {% when 'nav-dd' %}
                {% include structure/header/navs/main-dd.html %}
            {% else %}
                {% include structure/header/navs/main-ro.html %}
        {% endcase %}
    </div>
</header>
