/*  --------------------------------------------------------------------------  *\

    FACTS - LARGE

\*  --------------------------------------------------------------------------  */
& {
    padding: #{$gutter};
    
    @media #{$mediaMd} {
        padding: #{$gutterLg} #{$gutter};
    }
    
    @media #{$mediaLg} {
        padding: #{$gutterLg * 1.5} #{$gutter * 1.5};
    }
}

h3 {
    font-size: 2em;
}
    
strong {
    margin: .125em 0;
    font-size: 4em;
}