/*  --------------------------------------------------------------------------  *\

    HERO > SIZES > LARGE

\*  --------------------------------------------------------------------------  */
&.lg {
    padding: #{$gutterLg} 0;
    
    @media #{$mediaMd} {
        padding: #{$gutterLg * 1.5} 0;
    }
    
    @media #{$mediaLg} {
        padding: #{$gutterLg * 2} 0;
    }
}