/*  --------------------------------------------------------------------------  *\

    HERO > SIZES > SMALL

\*  --------------------------------------------------------------------------  */
&.sm {
    padding: #{$gutterSm} 0;
    
    @media #{$mediaMd} {
        padding: #{$gutterSm * 1.5} 0;
    }
    
    @media #{$mediaLg} {
        padding: #{$gutter} 0;
    }
}