/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL INSIDE > LABELS

\*  --------------------------------------------------------------------------  */
label {
    @include position(absolute, null, (left, top), (auto, 50%), translate((#{$formLIGutter}), -50%));
    @include transition(transform .15s linear);
}

input[type="file"], input[type="date"], input[type="range"], select, .chosen {
    + label {
        @include transform((translate(#{$formLIGutter}, -135%)));
        font-size: .75em;
    }
}
textarea {
    + label {
        top: #{$formLIGutter};
        font-size: .75em;
    }
}
/*  --------------------------------------------------------------------------  *\

    FOCUS STATES

\*  --------------------------------------------------------------------------  */
input:not([type="radio"]):not([type="checkbox"]):focus {
    + label {
        @include transform((translate(#{$formLIGutter}, -135%)));
        font-size: .75em;
    }
}