/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL INSIDE > VARIABLES

\*  --------------------------------------------------------------------------  */
$formLIGutter: #{$gutterSm * .5};
$formLIBorder: border;
$formLIBorderStyle: 1px solid $primary;
$formLIBorderFocus: $tertiary;