/*  --------------------------------------------------------------------------  *\

    HEADER - POTIION - FIXED LEFT

\*  --------------------------------------------------------------------------  */
& {
    @include position(fixed, 1000, (left, top), (0, 0));
    width: 100%;
    
    @media #{$mediaFullHeader} {
        width: 25%;
        max-width: 250px;
        height: 100vh;
    
        ~ main, ~ footer {
            @include position(relative, 0);
            margin: 0 0 0 25%;
        }
    }
    
    @media screen and (min-width: 1000px) {
        ~ main, ~ footer {
            margin: 0 0 0 250px;
        }
    }
}