/*  --------------------------------------------------------------------------  *\

    HEADER - LOGO - SVG

\*  --------------------------------------------------------------------------  */
.logo {
    display: block;
    height: .75in;
    width: auto;

    > img, > svg {
        height: 100%;
        width: auto;
    }
}