<form class="{{ include.class }}">
    <div class="row sign-up">
        <div class="form-el col-xs-12">
            {% if include.class != "l-over" %}
                <label for="firstNameAs">First Name <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="firstNameAs" type="text" required="">
            {% if include.class == "l-over" %}
                <label for="firstNameAs">First Name <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el col-xs-12">
            {% if include.class != "l-over" %}
                <label for="lastNameAs">Last Name <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="lastNameAs" type="text" required="">
            {% if include.class == "l-over" %}
                <label for="lastNameAS">Last Name <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el col-xs-12">
            {% if include.class != "l-over" %}
                <label for="emailAs">Email <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="emailAs" type="email" required="">
            {% if include.class == "l-over" %}
                <label for="emailAs">Email <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-btn col-xs-12">
            <button type="submit" class="btn-primary">Sign Up</button>
        </div>
    </div>
</form>