<form class="{{ include.class }}">
    {% if include.class != "stacked" %}
    <div class="row">
    {% endif %}
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12 col-sm-6{% endif %}">
            {% if include.class != "l-over" %}
                <label for="firstName">First Name <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="firstName" type="text" required>
            {% if include.class == "l-over" %}
                <label for="firstName">First Name <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12 col-sm-6{% endif %}">
            {% if include.class != "l-over" %}
                <label for="lastName">Last Name <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="lastName" type="text"required>
            {% if include.class == "l-over" %}
                <label for="lastName">Last Name <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12{% endif %}">
            {% if include.class != "l-over" %}
                <label for="email">Email <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="email" type="email"required>
            {% if include.class == "l-over" %}
                <label for="email">Email <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12{% endif %}">
            {% if include.class != "l-over" %}
                <label for="address">Address <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="address" type="text"required>
            {% if include.class == "l-over" %}
                <label for="address">Address <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12{% endif %}">
            {% if include.class != "l-over" %}
                <label for="address2">Address Line 2</label>
            {% endif %}
            <input placeholder=" " id="address2" type="text">
            {% if include.class == "l-over" %}
                <label for="address2">Address Line 2</label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12 col-md-5{% endif %}">
            {% if include.class != "l-over" %}
                <label for="city">City <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="city" type="text"required>
            {% if include.class == "l-over" %}
                <label for="city">City <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12 col-md-4{% endif %}">
            {% if include.class != "l-over" %}
                <label for="state">State <span class="req">*</span></label>
            {% endif %}
            <select id="state"required>
                <option value="">Lorem.</option>
                <option value="">Natus.</option>
                <option value="">Deserunt.</option>
                <option value="">Voluptate.</option>
                <option value="">In!</option>
                <option value="">Iusto!</option>
                <option value="">Aliquid!</option>
                <option value="">Et.</option>
                <option value="">Culpa.</option>
                <option value="">Tenetur.</option>
                <option value="">Aspernatur.</option>
                <option value="">Nulla.</option>
                <option value="">Voluptatem.</option>
                <option value="">Dignissimos!</option>
                <option value="">Facere?</option>
                <option value="">Illum.</option>
                <option value="">Dicta?</option>
                <option value="">Accusantium.</option>
                <option value="">Sapiente?</option>
                <option value="">Tenetur.</option>
                <option value="">Harum!</option>
                <option value="">Nulla!</option>
                <option value="">Totam.</option>
                <option value="">Natus.</option>
                <option value="">Sapiente.</option>
                <option value="">Perferendis.</option>
                <option value="">Explicabo.</option>
                <option value="">Maiores.</option>
                <option value="">Voluptatum.</option>
                <option value="">Totam.</option>
                <option value="">Cumque.</option>
                <option value="">Officiis?</option>
                <option value="">Rerum.</option>
                <option value="">Molestiae!</option>
                <option value="">Magnam!</option>
                <option value="">Dolor.</option>
                <option value="">Deleniti.</option>
                <option value="">Sint!</option>
                <option value="">Velit.</option>
                <option value="">Suscipit.</option>
                <option value="">Eveniet.</option>
                <option value="">Maiores.</option>
                <option value="">Nihil.</option>
                <option value="">Consequuntur!</option>
                <option value="">Aspernatur.</option>
                <option value="">Consequatur.</option>
                <option value="">Harum.</option>
                <option value="">Delectus.</option>
                <option value="">Corporis.</option>
                <option value="">Molestias!</option>
            </select>
            {% if include.class == "l-over" %}
                <label for="state">State <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12 col-md-3{% endif %}">
            {% if include.class != "l-over" %}
                <label for="zip">Zip Code <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="zip" type="text"required>
            {% if include.class == "l-over" %}
                <label for="zip">Zip Code <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el {% if include.class != 'stacked' %}col-xs-12{% endif %}">
            {% if include.class != "l-over" %}
                <label for="comments">Comments?</label>
            {% endif %}
            <textarea id="comments" rows="10"></textarea>
            {% if include.class == "l-over" %}
                <label for="comments">Comments?</label>
            {% endif %}
        </div>
        <div class="form-group {% if include.class != 'stacked' %}col-xs-12{% endif %}" role="group" aria-label="consent">
            <input id="consent" type="checkbox"required>
            <label for="consent">I agree to the terms and conditions of this form. <span class="req">*</span></label>
        </div>
        <div class="form-group {% if include.class != 'stacked' %}col-xs-12{% endif %}" role="radiogroup" aria-label="options">
            <input id="radio1" type="radio" name="radios">
            <label for="radio1">Option 1</label>
            <input id="radio2" type="radio" name="radios">
            <label for="radio2">Option 2</label>
            <input id="radio3" type="radio" name="radios">
            <label for="radio3">Option 3</label>
            <input id="radio4" type="radio" name="radios">
            <label for="radio4">Option 4</label>
            <input id="radio5" type="radio" name="radios">
            <label for="radio5">Option 5</label>
        </div>
    {% if include.class != 'stacked' %}
    </div>
    {% endif %}
    <div class="form-btn">
        <button type="submit" class="btn-primary">Submit</button>
    </div>
</form>