<form class="{{ include.class }}">
    <div class="row">
        <div class="form-el col-xs-12 col-sm-6 col-md-3">
            {% if include.class != "l-over" %}
                <label for="firstNameSU">First Name <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="firstNameSU" type="text" required="">
            {% if include.class == "l-over" %}
                <label for="firstNameSU">First Name <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el col-xs-12 col-sm-6 col-md-3">
            {% if include.class != "l-over" %}
                <label for="lastNameSU">Last Name <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="lastNameSU" type="text" required="">
            {% if include.class == "l-over" %}
                <label for="lastNameSU">Last Name <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el col-xs-12 col-md-4">
            {% if include.class != "l-over" %}
                <label for="emailSU">Email <span class="req">*</span></label>
            {% endif %}
            <input placeholder=" " id="emailSU" type="email" required="">
            {% if include.class == "l-over" %}
                <label for="emailSU">Email <span class="req">*</span></label>
            {% endif %}
        </div>
        <div class="form-el col-xs-12 col-md-2">
            <button type="submit" class="btn-primary">Sign Up</button>
        </div>
    </div>
</form>