/*  --------------------------------------------------------------------------  *\

    TOGGLE - PANEL

\*  --------------------------------------------------------------------------  */
.panel {
    padding: #{$gutter};
    border: 1px solid $primary;
    
    :last-child {
        margin-bottom: 0;
    }
}