{% assign i = 0 %}
<dl class="accordion {{ include.class }}" role="presentation" {% if include.allowToggle %}data-allow-toggle="true"{% endif %} {% if include.allowMultiple %}data-allow-multiple="true"{% endif %}>    
    {% for acc in site.data.components.interactive.accordions %}
    <dt role="heading" aria-level="3"><button id="{{ include.id }}Sect{{ i }}Toggle" aria-expanded="{% if i == 0 and include.showFirst %}true{% else %}false{% endif %}" aria-controls="{{ include.id }}Sect{{ i }}" type="button" {% if i == 0 and include.showFirst %}aria-disabled="true"{% endif %}>{{ acc.name }}</button></dt>
    <dd id="{{ include.id }}Sect{{ i }}" aria-labelledby="{{ include.id }}Sect{{ i }}Toggle" {% if include.showFirst %}{% if i > 0 %}hidden{% endif %}{% else %}hidden{% endif %}>
        {{ acc.content }}
    </dd>
    {% assign i = i | plus:1 %}
    {% endfor %}
</dl>