<div role="dialog" id="{{ include.id }}" aria-labelledby="{{ include.id }}Label" aria-modal="true" class="dialog {{ include.class }} hidden">
    <button onclick="closeDialog(this)" type="button" class="close">
        <span class="fas fa-times"></span>
        <span class="sr-only">Close</span>
    </button>
    <h2 id="{{ include.id }}Label">Dialog Title</h2>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere enim consequuntur vero blanditiis modi error!</p>
        <p>Molestiae molestias quisquam soluta cumque facere odio. Consectetur optio sint, obcaecati. Non explicabo deserunt accusantium!</p>
        <p>Natus consequatur ut maiores quae numquam eius voluptatibus laudantium, rerum nihil sapiente voluptates tenetur commodi.</p>
    </div>
</div>