{% assign i = 0 %}
<dl class="tabs {{ include.class }}" role="presentation">
    {% for tab in site.data.components.interactive.tabs %}
    <dt><button id="{{ include.id }}Sect{{ i }}Toggle" aria-expanded="{% if i == 0 %}true{% else %}false{% endif %}" aria-controls="{{ include.id }}Sect{{ i }}" type="button" {% if i == 0 %}aria-disabled="true"{% endif %}>{{ tab.name }}</button></dt>
    <dd id="{{ include.id }}Sect{{ i }}" aria-labelledby="{{ include.id }}Sect{{ i }}Toggle" {% if i > 0 %}hidden{% endif %}>
        {{ tab.content }}
    </dd>
    {% assign i = i | plus:1 %}
    {% endfor %}
</dl>