/*  --------------------------------------------------------------------------  *\

    MEDIA LAYOUT - SIDE

\*  --------------------------------------------------------------------------  */
&.cap-side {
    @media #{$mediaMd} {
        @include flex(center, center, null, row nowrap);
        
        img {
            @include flexItem(0, 0, auto);
            width: 50%;
            margin: 0 #{$gutter} 0 0;
        }
    
        &.alt {

            img {
                order: 1;
                margin: 0 0 0 #{$gutter};
            }
        }
    }
}