/*  --------------------------------------------------------------------------  *\

    COLUMNS

    This sets up the base for all columns.

\*  --------------------------------------------------------------------------  */
[class*="col-"] {
    padding: 0 #{$gutterSm * .5};
    margin: 0;
    @include flexItem(0, 0, auto, 1);
    
    @media #{$mediaMd} {
        padding: 0 #{$gutter * .5};
    }
}
/*  --------------------------------------------------------------------------  *\

    GENERATE COLUMNS

    This mixin generates all columns creating XS-LG with 12 columns.

\*  --------------------------------------------------------------------------  */
@include generateCols();
/*  --------------------------------------------------------------------------  *\

    SETTING MARGIN SPECIFICS

    This will fix margins when two elements are next to each other with a 12
    column count.

\*  --------------------------------------------------------------------------  */
// EXTRA SMALL COLUMNS
.col-xs-12 {
    + .col-xs-12 {
        margin-top: #{$gutterSm};
    }
    
    @media #{$mediaSm} {
        + .col-xs-12 {
            &[class*="col-sm-"] {
                margin-top: 0;
            }
        }
    }
    
    @media #{$mediaMd} {
        + .col-xs-12 {
            &[class*="col-md-"] {
                margin-top: 0;
            }
        }
    }
    
    @media #{$mediaLg} {
        + .col-xs-12 {
            &[class*="col-lg-"] {
                margin-top: 0;
            }
        }
    }
}
// SMALL COLUMNS
@media #{$mediaSm} {
    .col-sm-12 {
        + .col-sm-12 {
            margin-top: #{$gutterSm};
        }
    }
}

@media #{$mediaMd} {
    .col-sm-12 {
        + .col-sm-12 {
            &[class*="col-md-"] {
                margin-top: 0;
            }
        }
    }
}

@media #{$mediaSm} {
    .col-sm-12 {
        + .col-xs-12 {
            &[class*="col-lg-"] {
                margin-top: 0;
            }
        }
    }
}
// MEDIUM COLUMNS
@media #{$mediaMd} {
    .col-md-12 {
        + .col-md-12 {
            margin-top: #{$gutter};
        }
    }
}

@media #{$mediaLg} {
    .col-md-12 {
        + .col-md-12 {
            &[class*="col-lg-"] {
                margin-top: 0;
            }
        }
    }
}
// LARGE COLUMNS
@media #{$mediaLg} {
    .col-lg-12 {
        + .col-lg-12 {
            margin-top: #{$gutter};
        }
    }
}