/*  --------------------------------------------------------------------------  *\

    ROWS

    This sets up our rows used to break up content into columns.

\*  --------------------------------------------------------------------------  */
.row {
    @include flex(space-between, stretch, null, row wrap);
    width: calc(100% + #{$gutterSm});
    margin: 0 #{$gutterSm * -.5};
    
    @media #{$mediaMd} {
        width: calc(100% + #{$gutter});
        margin: 0 #{$gutter * -.5};
    }
    /*  ----------------------------------------------------------------------  *\
    
        BACK TO BACK ROWS
    
        Set the margin when rows are next to each other.
    
    \*  ----------------------------------------------------------------------  */
    + .row {
        margin-top: #{$gutterSm};
        
        @media #{$mediaMd} {
            margin-top: #{$gutter};
        }
    }
    /*  ----------------------------------------------------------------------  *\
    
        ALIGNMENTS
    
        Change the default alignment to different alignments.
    
    \*  ----------------------------------------------------------------------  */
    &.va-center {
        align-items: center;
    }
    
    &.va-top {
        align-items: flex-start;
    }
    
    &.va-bottom {
        align-items: flex-end;
    }
    
    &.ha-center {
        justify-content: center;
    }
    
    &.ha-left {
        justify-content: flex-start;
    }
    
    &.ha-right {
        justify-content: flex-end;
    }
    /*  ----------------------------------------------------------------------  *\
    
        MARGINS
    
        Change the default margins.
    
    \*  ----------------------------------------------------------------------  */
    &.m-b {
        margin-bottom: #{$gutterSm};
        
        @media #{$mediaMd} {
            margin-bottom: #{$gutter};
        }
    }
}