<div class="bio">
    <p class="h5 title">About the Author</p>
    <div class="img">
        <img src="https://via.placeholder.com/150x150/ccc/e1e1e1?text=1:1" alt="Placeholder image">
    </div>
    <div class="cnt">
        <h2 class="h6">John Doe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, odio, assumenda nam, velit nihil doloremque dignissimos sit porro quia minus suscipit eligendi itaque laboriosam necessitatibus.</p>
        <p>Follow: <a href="#"><span class="fab fa-twitter"></span></a></p>
    </div>
</div>