/*  --------------------------------------------------------------------------  *\

    HEADER - LOGO - SVG

\*  --------------------------------------------------------------------------  */
.logo {
    display: block;
    width: 6rem;
    
    > img {
        display: block;
        width: 100%;
        height: auto;
    }
}