/*  --------------------------------------------------------------------------  *\

    HEADER - LOGO - SVG

\*  --------------------------------------------------------------------------  */
.logo {
    @include flex(flex-start, center, null, row nowrap);
    color: $primary;
    text-decoration: none;
    
    > svg {
        display: block;
        width: 6rem;
        height: auto;
        fill: currentColor;
    }
    
    > small {
        margin: 0 0 0 #{$gutterSm / 2};
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    @include hover {
        color: $secondary;
    }
}